@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(197, 159, 212);
}

#container {
  background-color: #fff;
  border: #eee 2px solid;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  height: 670px;
  width: 400px;
}

img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
}

img.show {
  opacity: 1;
}

nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 64px;
}

nav li {
  color: #777;
  width: 65px;
  cursor: pointer;
  text-align: center;
}

nav li:hover,
nav li.active {
  color:rgb(144, 83, 167);
}

nav li p {
  margin: 5px 0 0;
  font-size: .8rem;
}

nav li i {
  font-size: 1rem;
}